<ul>
    <li><a href="./home">Home</a></li>
    <li><a href="./login">Login</a></li>
    <li><a href="./registration">Register</a></li>
    <li><a href="./postimage">Post Image</a></li>
    <li><a href="./Imagepost">Look at Image</a></li>
</ul>