<script src="https://kit.fontawesome.com/937f7202a1.js" crossorigin="anonymous"></script>
<ul id="nav-bar">
    <li><a href="/" class="nav-element">Home</a></li>
    <li><a href="/postimage" class="nav-element">Post Image</a></li>
    {{#if logged}}
    <li><a id="logout-button" class="nav-element">Log Out</a></li>
    {{else}}
    <li><a href="/login" class="nav-element">Login</a></li>
    {{/if}}
    <div id="search-container">
        <section id="search-bar">
            <input type="text" placeholder="Search.." id="search-text" name="search-text">
            <button type="button" id="search-button"><i class="fas fa-search" aria-hidden="true"></i></button>
        </section>
    </div>
    <div id="banner-container">
        <a href="/">☃️☃️☃️☃️☃️☃️☃️<label id="banner">Scennit</label>☃️☃️☃️☃️☃️☃️☃️</a>
    </div>
</ul>