<ul>
    <li><a href="./">Home</a></li>
    <li><a href="./login">Login</a></li>
    <li><a href="./registration">Register</a></li>
    <li><a href="./postimage">Post Image</a></li>
    <li><a href="./Imagepost">Look at Image</a></li>
</ul>
{{!-- {{if success}}
    <div class="success">
        Successful Validation
    </div>
{{else}}
    {{# if errors}}
    <div class="error">
        {{# each errors}}
        {{this.msg}}
        {{/each}}
    </div>
    {{/if}} --}}