<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <script defer type="text/javascript" src="../js/home.js"></script>
    <title>Scennit: the backdoor of the internet</title>
</head>
<body>
    <ul>
        <li ><a class="active" href="./home.html">Home</a></li>
        <li ><a href="./login.html">Login</a></li>
        <li ><a href="./registration.html">Register</a></li>
        <li ><a href="./postimage.html">Post Image</a></li>
        <li ><a href="./Imagepost.html">Look at Image</a></li>
    </ul>
    <div class="center home">
        <header>
            <h1>Scennit</h1>
        </header>
        <form>
            <div class="grid-container" id="grid-container">
            </div>
            <label>Number of Photos: </label><text id="photo-count">0</text>
        </form>
    </div>
</body>
</html>