<head>
    <script defer type="text/javascript" src="/public/js/home.js"></script>
    <title>Scennit: the backdoor of the internet</title>
</head>

<body>
    <div class="center home">
        <header>
            <h1 class="title">Scennit</h1>
        </header>
        <form>
            <div class="grid-container">
                {{#each results}}
                    {{> card this}}
                {{/each}}
            </div>
            {{!-- <label>Number of Photos: </label><text id="photo-count">0</text> --}}
        </form>
    </div>
</body>