<head>
    <script defer type="text/javascript" src="/public/js/home.js"></script>
    <title>Scennit: the backdoor of the internet</title>
</head>

<body>
    {{!-- <ul>
        <li><a class="active" href="./home">Home</a></li>
        <li><a href="./login">Login</a></li>
        <li><a href="./registration">Register</a></li>
        <li><a href="./postimage">Post Image</a></li>
        <li><a href="./Imagepost">Look at Image</a></li>
    </ul> --}}
    <div class="center home">
        <header>
            <h1>Scennit</h1>
        </header>
        <form>
            <div class="grid-container" id="grid-container">
            </div>
            <label>Number of Photos: </label><text id="photo-count">0</text>
        </form>
    </div>
</body>