<head>
    <title>Image Post</title>
</head>

<body>
    {{!-- <ul>
        <li><a href="./home">Home</a></li>
        <li><a href="./login">Login</a></li>
        <li><a href="./registration">Register</a></li>
        <li><a href="./postimage">Post Image</a></li>
        <li><a class="active" href="./Imagepost">Look at Image</a></li>
    </ul> --}}
    <div class="center image-post">
        <section id="title">
            <div>
                <label><strong>Title: would go here</strong></label>
            </div>
        </section>
        <section id="author">
            <div>
                <label><strong>Author: would go here</strong></label>
            </div>
        </section>
        <section id="image"><img src="https://fakeimg.pl/200x100/?retina=1&text=za warudo&font=noto"
                alt="This was a fake image"></section>
        <section id="creation time">
            <div>
                <label><em>Creation Time: would go here</em></label>
            </div>
        </section>
    </div>
    <div id="comments" class="center">
        <label id="comments"><strong>Comments</strong></label>
        blah
        blah
    </div>
</body>