<head>
    <title>Login</title>
</head>

<body>
    {{!-- <ul>
        <li><a href="./home">Home</a></li>
        <li><a class="active" href="./login">Login</a></li>
        <li><a href="./registration">Register</a></li>
        <li><a href="./postimage">Post Image</a></li>
        <li><a href="./Imagepost">Look at Image</a></li>
    </ul> --}}
    <div class="center">
        <header>
            <h1>Login</h1>
        </header>
        <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
            <div>
                <label><strong>Username:</strong></label>
                <input type="text" required name="username"/>
            </div>
            <div>
                <label><strong>Password:</strong></label>
                <input type="password" required name="password"/>
            </div>
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
            <a href="./registration" class="link">Register Here</a>
        </form>
    </div>
</body>