<head>
    <link rel="stylesheet" type="text/css" href="/public/css/registration.css">
    <script defer type="text/javascript" src="/public/js/registration.js"></script>
    <title>Registration</title>
</head>

<body>
    <div class="center">
        <header>
            <h1 class="title">Registration Form</h1>
        </header>
        <form method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
            <div>
                <label><strong>Username:</strong></label>
                <input type="text" required id="username" name="username" />
                <div class="white smaller">Username must start with <span id="username-req1" class="req">a character
                        ([a-zA-Z])</span></div>
                <div class="white smaller">Username must be <span id="username-req2" class="req">3 or more alphanumeric
                        characters</span></div>
            </div>
            <div>
                <label><strong>Email:</strong></label>
                <input type="email" required id="email" placeholder="jdoe1@mail.sfsu.edu" name="email" />
                <div class="white smaller">Email must be <span id="email-req" class="req">valid</span></div>
            </div>
            <div>
                <label><strong>Password:</strong></label>
                <input type="password" required id="password" name="password" />
                <div class="white smaller">Password must be <span id="pass-req1" class="req">8 or more characters</span>
                </div>
                <div class="white smaller">Password must contain <span id="pass-req2" class="req">at least 1 upper case
                        letter
                        and 1 number and 1 of the following special characters ( / * - + ! @ # $ ^ & * ).</span></div>
            </div>
            <div>
                <label><strong>Confirm Password:</strong></label>
                <input type="password" required id="password-confirm" name="cpassword" />
                <div class="white smaller">Passwords must <span id="cpass-req" class="req">match</span></div>
            </div>
            <div>
                Are you 13+ years of age?
                <input type="checkbox" required />
            </div>
            <div>
                <a href="https://knowyourmeme.com/memes/monkatos" class="link">TOS</a> and <a
                    href="https://www.bing.com/search?q=nowhere" class="link">Privacy Rules</a>
                <input id="tos" type="checkbox" required />
            </div>
            <button type="submit" id="register-button">Register</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>