body{
    background-image: url("../images/martin-fisher-5577331_1920.jpg");
    background-position: top;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(64,64,64,2);
    color: orange
}

.center{
    display: flex;
    flex-flow: column wrap;
    background-color: inherit;
    border: solid white;
    border-radius: 20px;
    padding: 15px 30px;
    position: relative;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

div{
    margin-top: 10px;
    margin-bottom: 5px
}

input {
    border: 1px solid grey;
    border-radius: 10px;
    float: right;
    color: black
}

h1:hover{
    color: rgb(167, 51, 167);
}

.link{
    color: crimson;
}

.fileInput{
    color: white;
    border-radius: 0px;
    border: transparent
}

button{
    background-color: #4CAF50;
    color: white;
    font-weight: 800;
    text-align: center;
    padding: 9px 12px;
    border-radius: 30px;
    width: 100%;
    margin: 5px
}

button[type="reset"]{
    background-color: rgb(31, 125, 233);
    width: 100px;
}

button:hover{
    border-color: white
}

.hide-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-image{
    height: 200px;
    width: 200px;
    text-align: center;
}

.anchor-buttons{
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: solid white 2px;
    border-radius: 6px
}

.anchor-buttons:hover{
    background-color: white;
    color: orange
}

#footer{
    text-align: center;
}

#nav-bar{
    list-style-type: none;
    background-color: #f1f1f1;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    display:flex;
    align-items:center;
    overflow: hidden;
    white-space: nowrap;
}

.nav-element{
    float: left;
    color: orange;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border: white
}

.nav-element:hover {
    background-color: #555;
    color: white
}

.active {
    background-color: #3f86c9;
    color: white;
}

#search-text{
    width: 100%;
    float: left;
    border-radius: 2px;
    margin: 0px;
    border-right: none
}

#search-bar{
    display:flex;
    width: 20em;
}

#search-button{
    float: left;
    background: #4eda42;
    color: white;
    border-left: none;
    cursor: pointer;
    width:20%;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

.alert{
    position: fixed;
    left: 50%;
    top:20%;
    z-index: 600;
    background-color: black;
    border-radius: 8px;
    border: solid;
    transform: translate(-50%,0);
    text-align: center;
    padding: 3px;

}

.alert-danger{
    color:rgb(255, 0, 0)
}

.alert-success{
    color:rgb(8, 226, 8)
}

#banner{
    font-style: italic;
    font-variant: small-caps;
    background-color: rgb(51, 48, 48);
    color: orange;
    padding: 8px 16px;
}

#banner:hover{
    color: rgb(167, 51, 167)
}

a{
    text-decoration: none;
}

.title{
    color: gold;
    margin: 2px;
    text-align: center;
    font-variant: small-caps;
    font-size: 2em;
}
